.mediaValueImage {
	width: 80%;
}
ul {
	list-style-type: none;
	padding: 0;
}

.titleLine:after {
	border-bottom: 1px solid rgb(27,188,255);
	content: '';
	display: block;
	margin-left: 45%;
    width: 10%;
}

.adEqual {
	font-size: 35pt;
}
.adMoney {
	display: inline-block;
	font-size: 35pt;
}

.adDescription {
	display: inline-block;
}
.med-val-section {
	margin: 10px 0;
}
.med-val-title {
	font-weight: 700;
}
/* line break after only */
.med-val-content:after {
	content:"\A"; 
	display: block;
}