.homeImage {
	width: 80%;
}
.titleLine:after {
	border-bottom: 1px solid rgb(27,188,255);
	content: '';
	display: block;
	margin-left: 45%;
    width: 10%;
}

.adEqual {
	font-size: 35pt;
}
.adMoney {
	display: inline-block;
	font-size: 35pt;
	font-weight: 700;
}

.adDescription {
	display: inline-block;
}
.homeImages {
	border: 1px solid lightGray;
	max-height: 250px;
}
.homeImagesInfo {
	font-size: 10pt;
}