.homeImage {
	width: 80%;
}
.titleLine:after {
	border-bottom: 1px solid rgb(27,188,255);
	content: '';
	display: block;
	margin-left: 45%;
    width: 10%;
}

.adEqual {
	font-size: 35pt;
}
.adMoneyTitle {
	display: inline-block;
	font-size: 20pt;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.adMoney {
	display: inline-block;
	font-size: 35pt;
	font-weight: 700;
	text-align: center;
	color: lime;
	width: 100%;
}
.adDescription {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

.searchBarText {
	font-size: 15pt;
	font-weight: 700;
	text-transform: uppercase;
}

.homeCircleImages {
	margin-bottom: 10px;
}
.homeCircleImagesInfo {
	font-size: 10pt;
	text-transform: uppercase;
}

.homeImages {
	border: 1px solid lightGray;
	max-height: 250px;
}
.homeImagesInfo {
	font-size: 10pt;
}